{% extends "orders/base.html" %}

{% block title %}
  Pizza Dilevry
{% endblock %}

{% block body %}


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="{% url 'index' %}" ><h1>PIZZAAAA!!!!!</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'show_cart' %}">Cart<span class="sr-only">(current)</span></a>
                </li>
             
                <li class="nav-item">
                
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
               </li>
            </ul>

          </div>
        </nav>
        <hr>
        <hr>
        <div class="jumbotron">
          <form method="post" action="{% url 'add_to_cart' item %}">
             {% csrf_token %}
             <h5>{{ item }}</h5>
             <br>
            <label class="radio-inline"><input type="radio" value="{{ size_s }}" name="size" checked>Small</label>
            <label class="radio-inline"><input type="radio" value="{{ size_l }}" name="size">large</label>

            <select name="extras">
              <option value="" disabled selected>None</option>
              {% for t in toppings %}
                <option value="{{ t.name }}">{{t.name}}</option>
              {% endfor %}
            </select>

            <input type="submit" value="add to cart">
          </form>

          {% if message %}
          <h5>{{ message }}</h5>
          {% endif %}
          

        </div>


{% endblock %}


